@keyframes from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in.from-right {
  animation-duration: 1s;
  animation-name: from-right;
}

.slide-in.from-left {
  animation-duration: 1s;
  animation-name: from-left;
}
