.python-staticmethod,
.python-def {
  margin-left: 30px;
}

.python-pass,
.python-self {
  margin-left: 60px;
}

.python-staticmethod,
.python-argSelf,
.python-self {
  font-style: italic;
  color: #ec87e4;
}

.python-class,
.python-pass,
.python-def {
  color: #00c9c8;
}

.python-var-value {
  color: white;
}

.python-inheritObject {
  color: #81a2be;
}

.python-input-code,
.python-code p {
  margin-bottom: 5px;
}

.python-code {
  color: #eab700;
  line-height: 1.8;
}
