:root {
  --contact-height: 500px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;

  resize: vertical;
}
textarea {
  height: calc((47vh - 48px) * 0.7);
  max-height: 300px;
  border: black 2px;
}

input[type="submit"] {
  position: relative;
  height: 45px;
  top: -48px;
  float: right;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  opacity: 0.2;
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 1;
}

.container-form {
  height: 47vh;
  max-height: var(--contact-height);
  max-width: 840px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 765px) {
  .container-form {
    width: calc(
      100vw - 2 * var(--menu-width)
    ); /*menu width of navbar in mobile view */
    height: 300px;
  }

  .maps-container {
    width: calc(
      100vw - 2 * var(--menu-width)
    ); /*menu width of navbar in mobile view */
    height: 300px;
  }
  textarea {
    height: calc((300px - 48px) * 0.7);
  }
  .msg-status,
  .invalid-email,
  .invalid-content {
    font-size: 13px;
  }
}
