html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Impact, fantasy !important;
  text-align: left !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gm-style-cc {
  display: none;
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}

a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
